// 主色调
$color-primary: #df3348;

// 字体
$color-text-primary: #333;
$color-text-regular: #666;
$color-text-secondary: #999;
$color-text-placeholder: #d9d9d9;

$color-white: #fff;
$color-black: #000;
$color-orange: #f60;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;

/* Background
-------------------------- */
$background-color-base: #f5f7fa;
$background-color-deep: #f3f3f3;
$background-color-extra-base: #fbf6fc;
$background-color: #fafafa;

/* Size
-------------------------- */
$size-base: 1.4rem;

/* Font
-------------------------- */
$font-path: 'fonts';
$font-size-base: 1.4rem;
$font-size-extra-small: 1.2rem;
$font-size-small: 1.3rem;
$font-size-medium: 1.6rem;
$font-size-large: 1.8rem;
$font-size-extra-large: 2rem;
$font-color-disabled-base: #bbb;
$font-weight-primary: 500;
$font-line-height-primary: 2.4rem;

/* Margin
-------------------------- */
$margin-card-default: 1.6rem;
$padding-card-default: 1.6rem;
$padding-sidenav: 1.2rem 2.4rem;

/* 刘海屏底部安全区背景色
-------------------------- */
$bgc_body: white;
$bgc_ios_fill_bottom_area: white;
$body_default_padding_top: 0;
