[v-cloak] {
  display: none
}

.v-popup {
  overflow: hidden;
}

.bg,
.face {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.face {
  border-radius: 5px;
}

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtitle {
  font-size: 24px;
  color: $color-text-normal;
  line-height: 24px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 20px;
  font-weight: 400;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: $color-blue-normal;
    border-radius: 8px;
  }
}

.celltitle {
  color: $color-text-light;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

.breadcrumb {
  height: 20px;
  margin-bottom: 30px;
  font-family: 'iconfont' !important;
  position: relative;
  padding-left: 40px;

  &:before {
    position: absolute;
    left: 10px;
    top: 0;
    content: "\e6b1";
    color: $color-blue-normal;
    font-size: 20px;
  }

  &, * {
    font-size: 16px;
    color: $color-link;
    line-height: 20px;
    font-weight: 400;
  }

  a {
    position: relative;
    margin-right: 20px;

    &:hover {
      color: $color-blue-normal;
    }

    &:after {
      content: '>';
      position: absolute;
      right: -20px;
      top: 0;
      bottom: 0;
      width: 20px;
      text-align: center;
      line-height: 18px;
      font-size: 13px;
      color: $color-link;
    }
  }
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &:before {
    content: '';
    clear: both;
    display: table;
  }
}

.icon-item {
  display: inline-block;
  color: $color-text-light;
  font-size: 13px;
  line-height: 16px;
  height: 16px;
  padding-left: 20px;
  position: relative;
  font-family: 'iconfont' !important;

  &:before {
    position: absolute;
    left: 3px;
    top: 0;
    font-size: 14px;
  }

  &.icon-item-tag {
    &:before {
      content: "\e662";
    }
  }
}

.abs {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.file-input {
  overflow: hidden;
  position: relative;

  &:hover:before {
    opacity: 1 !important;
    transition-duration: .4s;
  }

  input {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
  }
}

.breadcrumb-links {

  a {
    font-size: 14px;
    transition: .2s;
    margin: 0 12px 30px;
    display: inline-block;
    padding-bottom: 6px;
    font-weight: 500;
    color: #2d2f33;

    &:hover {
      border-radius: 5px;
      color: $color-blue-light;
    }

    &.router-link-active {
      color: $color-blue-normal;
      border-bottom: 1px solid $color-blue-light;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -3px;
        bottom: 0;
        width: 0;
        height: 0;
        border: 3px dashed $color-blue-light;
        border-bottom-style: solid;
        border-top: 0;
        border-left-color: transparent;
        border-right-color: transparent;
      }
    }
  }
}

img.image-lazy-init {
  opacity: 0.3;
  background-color: #bbb;
}

img.image-lazy-active {
  transition: background-color, opacity .15s linear;
  background-color: transparent;
  opacity: 1;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}
.cp {
  cursor: pointer;
}

/* Margin/Padding
-------------------------- */
$--margin-default: 16px;
$--padding-default: 16px;
.m- {
  &def {
      margin: $--margin-default;
  }
  &t {
      margin-top: $--margin-default;
      &-0 {
          margin-top: 0;
      }
  }
  &b {
      margin-bottom: $--margin-default;
      &-0 {
          margin-bottom: 0;
      }
  }
  &l {
      margin-left: $--margin-default;
      &-0 {
          margin-left: 0;
      }
  }
  &r {
      margin-right: $--margin-default;
      &-0 {
          margin-right: 0;
      }
  }
}

.p- {
  &def {
      padding: $--padding-default;
  }
  &t {
      padding-top: $--padding-default;
      &-0 {
          padding-top: 0;
      }
  }
  &b {
      padding-bottom: $--padding-default;
      &-0 {
          padding-bottom: 0;
      }
  }
  &l {
      padding-left: $--padding-default;
      &-0 {
          padding-left: 0;
      }
  }
  &r {
      padding-right: $--padding-default;
      &-0 {
          padding-right: 0;
      }
  }
}